In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from pandas import read_html 
# lastline reading an html from web

In [8]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

In [5]:
conda install html5lib

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: D:\anaconda\envs\sachin

  added / updated specs:
    - html5lib


The following NEW packages will be INSTALLED:

  html5lib           pkgs/main/noarch::html5lib-1.1-pyhd3eb1b0_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 4.13.0
  latest version: 23.3.1

Please update conda by running

    $ conda update -n base -c defaults conda

In [9]:
dframe_list = pd.io.html.read_html(url)

In [10]:
dframe = dframe_list[0]
dframe

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
1,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
2,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
3,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
4,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
...,...,...,...,...,...,...,...
560,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
561,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
562,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
563,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
564,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [11]:
dframe.columns.values

array(['Bank NameBank', 'CityCity', 'StateSt', 'CertCert',
       'Acquiring InstitutionAI', 'Closing DateClosing', 'FundFund'],
      dtype=object)