In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
# ffill fills the indexes that are ahead of them until they hit another value in index
ser3.reindex(range(15),method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [9]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.143254 -0.271097 -0.543279  1.180240 -1.208867
B -1.846418  0.764437 -0.442846  0.192807 -0.418252
D -0.207884  0.114454 -0.045360  0.463418 -0.219888
E  0.718717 -0.670932 -0.654850  0.652709  0.481541
F  0.407426  1.308184  0.707116 -1.409768 -0.202266

In [10]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -1.143254 -0.271097 -0.543279  1.180240 -1.208867
B -1.846418  0.764437 -0.442846  0.192807 -0.418252
C       NaN       NaN       NaN       NaN       NaN
D -0.207884  0.114454 -0.045360  0.463418 -0.219888
E  0.718717 -0.670932 -0.654850  0.652709  0.481541
F  0.407426  1.308184  0.707116 -1.409768 -0.202266

In [11]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [12]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -1.143254 -0.271097 -0.543279  1.180240 -1.208867   NaN
B -1.846418  0.764437 -0.442846  0.192807 -0.418252   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.207884  0.114454 -0.045360  0.463418 -0.219888   NaN
E  0.718717 -0.670932 -0.654850  0.652709  0.481541   NaN
F  0.407426  1.308184  0.707116 -1.409768 -0.202266   NaN

In [14]:
dframe

       col1      col2      col3      col4      col5
A -1.143254 -0.271097 -0.543279  1.180240 -1.208867
B -1.846418  0.764437 -0.442846  0.192807 -0.418252
D -0.207884  0.114454 -0.045360  0.463418 -0.219888
E  0.718717 -0.670932 -0.654850  0.652709  0.481541
F  0.407426  1.308184  0.707116 -1.409768 -0.202266

In [23]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

KeyError: "['C'] not in index"